<div class="" id="video-playlists">
{{ site.data.menus.videos.playlists.data.length }}
	{% if site.data.menus.videos.playlists.length < 1 %}
		<strong>No playlists to show</strong>
	{% else %}	
	<ul>
	  {% for playlist in site.data.menus.videos.playlists.data %}
	    <li>
	      <a href="{{ playlist.url }}">{{ playlist.name }}</a>
	      	{{ playlist.data[0] }}
	      
	      <!-- {% if playlist.items.length > 0 %} -->
	      	<ul>
	      	{% for item in playlist.items %}


	      		<!-- <li><a href="{{ item.url }}">{{ item.name }}</a></li> -->
      		{% endfor %}
	      	</ul>
	      <!-- {% endif %} -->
	    </li>
	  {% endfor %}
	</ul>
	{% endif %}
</div>