<!DOCTYPE>
<html>
<head>
    {% include layouts/default/header/base.html %}
</head>
<body>

<div id="container">
    <header id="container-head">
        {% include layouts/default/header/header_container.html %}
    </header>

    <div >
        <div class="row" id="container-content-how-to-code-well">
            <div class="col _100">

                <div class="row">
                    <div class="col">
                        <h1>Web development chats</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col _55">
                        <div id="videoPromo">

                        </div>
                    </div>

                    <aside id="sidebar-right" class="col _25 sidebar">

                        <nav class="" id="playlistVideo">
                            <ul >
                                <li class="row videoThumb">


                                </li>
                                <li class="row videoThumb">

                                </li>
                                <li class="row videoThumb">

                                </li>
                            </ul>
                        </nav>
                    </aside>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div id="content" class="col">
            <div class="row">
                <section id="howToCodeWellPromo" class="col">
                    <p>Subscribe to How To Code Well.</p>
                </section>
            </div>

            <div class="row">
                <h2 class="col ">Popular videos</h2>
            </div>
            <nav class="row" id="videoFeatured">

                <ul class="flex-grid">
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">

                    </li>
                </ul>
            </nav>
            <div class="row">
                <h2 class="col ">PHP Tutorials</h2>
            </div>
            <nav class="row" id="videoFeatured">

                <ul class="flex-grid">
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">
                        View all
                    </li>
                </ul>
            </nav>
            <div class="row">
                <h2 class="col ">MYSQL Tutorials</h2>
            </div>
            <nav class="row" id="videoFeatured">

                <ul class="flex-grid">
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">
                        View all
                    </li>
                </ul>
            </nav>
            <div class="row">
                <h2 class="col ">HTML Tutorials</h2>
            </div>
            <nav class="row" id="videoFeatured">

                <ul class="flex-grid">
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">
                        View all
                    </li>
                </ul>
            </nav>
            <div class="row">
                <h2 class="col ">Docker Tutorials</h2>
            </div>
            <nav class="row" id="videoFeatured">

                <ul class="flex-grid">
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">

                    </li>
                    <li class="col videoThumb _2">
                        View all
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <footer id="container-foot">
        {% include layouts/default/footer/base.html %}
    </footer>
</div>

</body>
</html>